span{
	margin: 10px;
}

.result span{
	margin: 5px;
}

body{
	background-color: #f5f5f5 !important;
}

.main-header.mdl-layout__header{
	height: 64px;
	background-color: #4527a0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.mdl-layout__header .mdl-layout__tab-bar{
	padding-left:15px;
}

.mdl-layout__tab-bar .mdl-layout__tab{
	height: 64px;
  line-height: 64px;
	margin: auto;
  margin-left: 0;
}

.main-content .mdl-data-table{
	max-width: 100%;
	width: 100%;
}

.main-content .mdl-data-table th, td{
	padding: 0 !important;
	vertical-align: middle !important;
	text-align: center !important;
}

.ellip{
	max-width: 94px !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	overflow: hidden !important;
}

.table-container {
    overflow: auto;
    max-height: 300px;
}

.container-action-search{
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	padding: 0 16px;
	min-height: 64px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	box-sizing: border-box;
}

.main-footer .mdl-button{
	bottom: 0;
  position: absolute;
  right: 0;
  margin: 25px;
}
